html,
body,
#app {
  height: 100%;
}

.custom-home-class.home
  .footer
    padding: 2.5rem 2.5rem 1rem 2.5rem;
.blogroll-list
  .content__default
    background-color: #deeafb;
.article-list
  .content__default
    max-width: 90%
.pictureLife-list
  height: 100%
  .page
    height: 100%
    .content__default
      max-width: 90%
      height: 100%
      position: relative